h1{
    text-align: center;
    color:#181853;
}

body{
    background-color:#8994d3
}

form{
    margin-top: 50px;
    background-color:#9393ff;
    padding:20px;
}

table{
    margin-bottom:100px;
}

.tickets, h2{
    color:#0c0851;
}

.tickets{
    border:solid;
    margin-bottom:50px;
 }